.nav{
margin-left:100px;
display:flex;
list-style:none;
}
.nav a{
  text-decoration:none;
}
.router{
padding-left:40px;
padding-right:40px;
}
.Navbar{
  background-color:white;
  position: fixed;
  z-index: 300;
  width:100%;
}
